/* გამოიყენეთ საერთო სტილებისთვის */

/* _________ HEADER _________ */
header {
  /* border: solid; */
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e3eb;
  background: white;
}

#header-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-shrink: 0; */
}

#enter {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #5d37f3;
}
#enter:hover {
  cursor: pointer;
  background: #766cf1;
}

#add-blog-btn {
  display: none;
  color: #fff;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;

  font-weight: 500;
  line-height: 20px;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #5d37f3;
}
